{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 40.7539,
        "longitude": -73.93871,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Yeralin House",
        "time_zone": "America/New_York",
        "external_url": null,
        "internal_url": "http://192.168.1.5:8123"
    }
}