[Unit]
Description=Doods Container
After=docker.service
Requires=docker.service

[Service]
User=daniyar
Group=daniyar
Restart=always
ExecStartPre=-/usr/bin/docker stop doods
ExecStart=/usr/bin/docker start -a doods
ExecStop=/usr/bin/docker stop doods

[Install]
WantedBy=multi-user.target
